#header-container {
  width: 100%;
  position: fixed;
  z-index: 10;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container {
  width: 95%;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 5;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(204, 204, 204, 0.7);

  padding: 20px 12px;
  border-radius: 8px;
  margin-top: 20px;
}

#left-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

#right-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

#loading-right-container {
  width: 130px;
  height: 40px;

  background-color: #e8e8e8;

  border-radius: 10px;
  margin-right: 15px;
}

#logo {
  display: flex;
  justify-content: start;
  align-items: center;

  text-decoration: none;
  color: black;

  margin-left: 20px;
  margin-right: 40px;
}

#logo-image {
  width: 40px;

  margin-right: 10px;
}

#logo-text {
  width: 180px;
}

#notification-icon {
  width: 25px;
  cursor: pointer;

  margin-right: 30px;
}

#profile-icon {
  width: 50px;

  border: 1.5px solid black;
  border-radius: 100%;
  margin-right: 20px;

  cursor: pointer;
  transition: filter 0.07s ease-in-out;
}

#profile-icon:hover {
  filter: brightness(0.85);
}

#login-button {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 25px;
}

#login-icon {
  width: 30px;

  transition: width 0.1s ease-in-out;
}

#login-icon:hover {
  width: 35px;
}

#hamburger-list-container {
  width: 95%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

  background-color: #ececec;

  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.2s ease-in-out;

  border-radius: 8px;
  padding: 30px 0px;
  margin-top: 20px;
}

#hamburger-list-container.active {
  clip-path: inset(0 0 0 0);
}

#hamburger-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

#hamburger-button-container {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-button {
  width: 47%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.65rem;
  font-weight: 700;
  color: black;

  transition: all 0.05s ease-in-out;

  border: 2px solid #000000;
  border-radius: 2px;

  margin: 25px 0px;
}

#hamburger-join-button {
  background-color: #FFFFFF;
}

#hamburger-join-button:hover {
  background-color: #dadada;
}

#hamburger-login-button {
  background-color: #ffb444;
}

#hamburger-login-button:hover {
  background-color: #ff9900;
}

.header-link {
  margin-right: 40px;
}

@media screen and (min-width: 801px) {
  #hamburger-list-container {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #logo {
    margin-right: 0;
  }

  #login-button {
    height: 0;
  }

  #login-icon {
    display: none;
  }
  
  #profile-icon {
    display: none;
    margin-right: 0;
  }

  .header-link {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  #logo-text {
    display: none;
  }
}