#hamburger-container {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  margin-right: 20px;
}

#hamburger-icon {
  width: 35px;
}

@media screen and (min-width: 801px) {
  #hamburger-container {
    display: none;
  }
}